{% extends 'flatpages/default.html'%}
{% block content %}
<!--{{ flatpage.content }}-->


<p> По всем вопросам касающимся звонков обращайтесь по данному номеру +7 123-55-5365</p>
<h2><span style="text-decoration: underline;"><strong> Главное не забудь позвонить!</strong></span></h2>
<p> Если забыл кинуть деньги на телефон, тогда кинь! </p>
<p> Набери мне, а я тебе! </p>
<h2>{{ flatpage.title }}</h2>
<HR>
<img src="https://i.pinimg.com/736x/25/6a/8b/256a8bf253b1a4c753feb234c2ac2af1.jpg",
     alt="Описание картинки">
<hr>
<h3>Наши контакты:</h3>
<p>{{ flatpage.content }}</p>
{% endblock content %}

"""То что лежит в папке images,
подгрузить не получилось, картинка битая выходит"""
"""Но кнопочку HOME на сайте я добавил"""